<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add new reservation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<!--    <form th:action="@{/reservation/add}" th:object="${reservation}" method="post">-->
<!--        <input type="text" th:field="*{patientId}" class="form-control" placeholder="patient id">-->
<!--        <input type="text" th:field="*{doctorId}" class="form-control" placeholder="doctor id">-->
<!--        <input type="datetime-local" th:field="*{dateTime}" class="form-control">-->
<!--        <input type="submit" class="form-control" value="Save">-->
<!--    </form> -->
<!--    <select th:field="*{patientId}" class="form-control">-->
<!--        <option th:each="p : ${patients}" th:value="${p.id}" th:text="${p.firstName} + ' ' + ${p.lastName}"></option>-->
<!--    </select>-->
<!--    <select th:field="*{doctorId}" class="form-control">-->
<!--        <option th:each="d : ${doctors}" th:value="${d.id}" th:text="${d.firstName} + ' ' + ${d.lastName}"></option>-->
<!--    </select>-->
</div>
</body>
</html>
