<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add new reservation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h1>Add reservation</h1>
    <form th:action="@{/patient/add_reservation}" th:object="${reservation}" method="post">
        <input type="text" name="patientId" class="form-control" placeholder="patient id"/>
        <select th:field="*{machine}" class ="form-control">
            <option value="MRT">MRT</option>
            <option value="X-Ray">X-Ray</option>
            <option value="CT">CT</option>
        </select>
        <input type="date" th:field="*{dateTime}" class="form-control" />
        <input type="text" th:field="*{bodyregion}" class="form-control" placeholder="body region"/>
        <input type="text" th:field="*{comment}" class="form-control" placeholder="comment"/>
        <input type="submit" class="form-control" value="Save"/>
    </form>


</div>
</body>
</html>
