<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(135deg, #fce7f3 0%, #fbcfe8 100%);
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            min-height: 100vh;
            padding-top: 20px;
        }

    </style>


</head>
<body>
<h1>patient list</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Patient id</th>
                <th>Social security number</th>
                <th>first name</th>
                <th>last name</th>
                <th>gender</th>
                <th>birth date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${patients}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.ssn}"></td>
                <td th:text="${p.firstName}"></td>
                <td th:text="${p.lastName}"></td>
                <td th:text="${p.gender}"></td>
                <td th:text="${p.birth}"></td>
            </tr>
        </tbody>

    </table>

    <p>
        <a href="/patient/add">new patient</a>
        <br>
        <a href="/"> homepage</a>

    </p>
</div>
</body>
</html>